<?xml version='1.0' encoding='utf-8'?>
<widget id="com.standesv.mathtrainer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Maths Trainer</name>
    <description>Application d'entrainement aux additions et soustractions pour enfants</description>
    <author email="standesv@gmail.com" href="https://github.com/standesv">Stan Desvoye</author>

    <content src="index.html" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/icon-192.png" />
        <icon density="mdpi" src="www/icon-192.png" />
        <icon density="hdpi" src="www/icon-192.png" />
        <icon density="xhdpi" src="www/icon-512.png" />
        <icon density="xxhdpi" src="www/icon-512.png" />
        <icon density="xxxhdpi" src="www/icon-512.png" />
    </platform>

    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="24" />

    <engine name="android" spec="^15.1.0" />

    <!-- PLAY_SERVICES_VERSION = 22.6.0, choisi après audit du code du plugin :
         c'est la dernière version du SDK Google Mobile Ads qui contient encore
         MobileAds.getVersionString(), AdSize.SMART_BANNER et la surcharge
         AppOpenAd.load(..., orientation, ...) utilisés par admob-plus 1.x.
         Tous trois ont été supprimés en 23.0.0 -> le build ne compile plus.
         La valeur par défaut du plugin (20.6.0, janvier 2022) compile mais est
         antérieure à Android 14, dont les règles sur les receivers peuvent
         faire planter l'application au démarrage. -->
    <plugin name="admob-plus-cordova" spec="^1.28.0">
        <variable name="APP_ID_ANDROID" value="ca-app-pub-3209259150498249~7379927993" />
        <variable name="APP_ID_IOS" value="ca-app-pub-3209259150498249~7379927993" />
        <variable name="PLAY_SERVICES_VERSION" value="22.6.0" />
    </plugin>
</widget>
