<?xml version='1.0' encoding='utf-8'?>
<widget id="com.standesv.mathtrainer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Maths Trainer</name>
    <description>Application d'entrainement aux additions et soustractions pour enfants</description>
    <author email="standesv@gmail.com" href="https://github.com/standesv">Stan Desvoye</author>

    <content src="index.html" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/icon-192.png" />
        <icon density="mdpi" src="www/icon-192.png" />
        <icon density="hdpi" src="www/icon-192.png" />
        <icon density="xhdpi" src="www/icon-512.png" />
        <icon density="xxhdpi" src="www/icon-512.png" />
        <icon density="xxxhdpi" src="www/icon-512.png" />
    </platform>

    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="24" />

    <!-- Requis par admob-plus 2.x, dont les sources Android sont en Kotlin.
         cordova-android 15 desactive le plugin Gradle Kotlin par defaut. -->
    <preference name="GradlePluginKotlinEnabled" value="true" />

    <engine name="android" spec="^15.1.0" />

    <!-- admob-plus 2.x (et non 1.x) : la branche 1.x est figee sur le SDK Ads
         20.6.0 de janvier 2022, anterieur a Android 14, et c'est elle qui
         faisait planter l'application au demarrage. Elle ne peut pas etre
         mise a jour : elle appelle MobileAds.getVersionString(), supprime du
         SDK des la 22.0.0. La 2.x cible 23.2.0 par defaut et n'utilise plus
         ce symbole. NE PAS surcharger PLAY_SERVICES_VERSION. -->
    <plugin name="admob-plus-cordova" spec="2.0.0-alpha.19">
        <variable name="APP_ID_ANDROID" value="ca-app-pub-3209259150498249~7379927993" />
        <variable name="APP_ID_IOS" value="ca-app-pub-3209259150498249~7379927993" />
    </plugin>
</widget>
